In [1]:
from pandas import DataFrame
import numpy as np
import pandas
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
utility_matrix = pandas.read_csv('u.csv', index_col = 0, na_values='0')
utility_matrix

     a  b    c    d  e    f  g    h
A  4.0  5  NaN  5.0  1  NaN  3  2.0
B  NaN  3  4.0  3.0  1  2.0  1  NaN
C  2.0  1  3.0  NaN  4  5.0  3  NaN

In [3]:
matrix_tidy = utility_matrix.fillna(0)
matrix_tidy

     a  b    c    d  e    f  g    h
A  4.0  5  0.0  5.0  1  0.0  3  2.0
B  0.0  3  4.0  3.0  1  2.0  1  0.0
C  2.0  1  3.0  0.0  4  5.0  3  0.0

In [4]:
matrix_tidy = matrix_tidy.astype(int)
matrix_tidy

   a  b  c  d  e  f  g  h
A  4  5  0  5  1  0  3  2
B  0  3  4  3  1  2  1  0
C  2  1  3  0  4  5  3  0

Taking boolean values of above matrix:
 if rating>2  value=1
 else value=2

In [5]:
matrix_tidy = matrix_tidy.applymap(lambda x:1 if x>1 else 0)
matrix_tidy

   a  b  c  d  e  f  g  h
A  1  1  0  1  0  0  1  1
B  0  1  1  1  0  1  0  0
C  1  0  1  0  1  1  1  0

Jaccard Distance

In [6]:
print("Jaccard distance:\n\tJ\(A,B) =",jaccard_similarity_score(matrix_tidy.loc['A'], matrix_tidy.loc['B']),
"\n\tJ(B,C) =",jaccard_similarity_score(matrix_tidy.loc['B'], matrix_tidy.loc['C']),
                                "\n\tJ(A,C) =",jaccard_similarity_score(matrix_tidy.loc['A'], matrix_tidy.loc['C']),)

Jaccard distance:
	J\(A,B) = 0.375
	J(B,C) = 0.375
	J(A,C) = 0.25

Cosine Distance

In [7]:
cosine_similarity(matrix_tidy)

array([[1.       , 0.4472136, 0.4      ],
       [0.4472136, 1.       , 0.4472136],
       [0.4      , 0.4472136, 1.       ]])